In [19]:
import pandas as pd
import random
import numpy as np

In [9]:
# 100k dataset for train + valid
# 10k for test

In [10]:
columns = ['id',
           'amount_currency',
           'amount_value',
           'channel',
           'deviceDetails_browser',
           'deviceDetails_device',
           'deviceDetails_deviceIp',
           'merchantRefTransactionId',
           'paymentMethod_apmType',
           'paymentMethod_cardNumber',
           'paymentMethod_cardSubType',
           'paymentMethod_cardType',
           'paymentMethod_cvv',
           'paymentMethod_encodedPaymentToken',
           'paymentMethod_expiryMonth',
           'paymentMethod_expiryYear',
           'shopperDetails_address_city',
           'shopperDetails_address_country',
           'shopperDetails_address_state',
           'shopperDetails_email',
           'shopperDetails_firstName',
           'shopperDetails_lastName',
           'shopperDetails_phoneNumber',
           'shopperDetails_shopperKey']

In [11]:
# fraud
def get_fraud_amount():
    return round(random.uniform(0.00, 100000), 2)

In [ ]:
# nonfraud
def get_nonfraud_amount():
    return round(random.uniform(80000.00, 700000), 2)

In [20]:
card_numbers = 1000
numbers_of_rows_in_dataset = 10000
# data = initial_values(numbers_of_rows_in_dataset)
# ml_set = pd.DataFrame(data)
card_set = pd.DataFrame(columns=['paymentMethod_cvv', 'paymentMethod_cardNumber'], index=np.arange(1000))

In [ ]:
# fraud
def get_fraud_currency():
    return "EURO"

In [ ]:
# nonfraud
def get_nonfraud_currency():
    return random.choice(["EURO", "USD"])

In [ ]:
# fraud 
def get_fraud_channel():
    return "online"

In [4]:
# nonfraud 
def get_nonfraud_channel():
    return random.choice(["pos", "online", "virtual", "mobile"])

In [78]:
ml_set['channel'] = ml_set.apply(random_channel, axis = 1)

In [79]:
ml_set.channel.unique()

array(['virtual', 'online', 'pos', 'mobile'], dtype=object)

In [80]:
def deviceDetails_browser(row):
    browser = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        browser = 'mozilla'
    elif 10 < rnd <= 50:
        browser = 'chrome'
    elif 51 < rnd <= 100:
        browser = 'edge'
    else:
        browser = 'chromio'
    
    return browser

In [81]:
ml_set['deviceDetails_browser'] = ml_set.apply(deviceDetails_browser, axis = 1)

In [ ]:
# fraud 
def get_fraud_device():
    return random.choice(["mobile", "pc"])

In [4]:
# nonfraud 
def get_nonfraud_device():
    return random.choice(["mobile", "pc", "pos"])

In [83]:
ml_set['deviceDetails_device'] = ml_set.apply(deviceDetails_device, axis = 1)

In [84]:
import socket
import struct
def deviceDetails_deviceIp(row):
    ip = socket.inet_ntoa(struct.pack('>I', random.randint(1, 0xffffffff)))
    return ip

In [85]:
ml_set['deviceDetails_deviceIp'] = ml_set.apply(deviceDetails_deviceIp, axis = 1)

In [86]:
import string
def merchantRefTransactionId(row):
    letters = string.digits
    return ''.join(random.choice(letters) for i in range(10))

In [87]:
ml_set['merchantRefTransactionId'] = ml_set.apply(merchantRefTransactionId, axis = 1)

In [88]:
def paymentMethod_apmType(row):
    amp = ''
    rnd =  random.randrange(101)
    if  0 < rnd <= 10:
        amp = 'chip'
    elif 10 < rnd <= 50:
        amp = 'magstripe '
    else:
        amp = 'nfcc'
    
    return amp

In [89]:
ml_set['paymentMethod_apmType'] = ml_set.apply(paymentMethod_apmType, axis = 1)

In [24]:
import string
def paymentMethod_cardNumber(row):
    card_number = ''
    numbers = string.digits
    for part in range(4):
        card_number += ''.join((random.choice(numbers) for i in range(4))) + '-'
    return card_number[:-1]

In [25]:
len(card_set)

1000

In [26]:
card_set['paymentMethod_cardNumber'] = card_set.apply(paymentMethod_cardNumber, axis = 1)

In [28]:
import string
def paymentMethod_cvv(row):
    numbers = string.digits
    return ''.join((random.choice(numbers) for i in range(3)))

In [29]:
card_set['paymentMethod_cvv'] = card_set.apply(paymentMethod_cvv, axis = 1)

In [30]:
card_set.head()

  paymentMethod_cvv paymentMethod_cardNumber
0               628      8716-7537-0647-1392
1               214      7778-2416-2990-7449
2               533      4919-1332-2165-1842
3               169      9487-2578-1013-5837
4               516      5060-4396-1904-8798

In [31]:
card_set.to_csv("card_set.csv", index=False)

In [ ]:
# fraud 
def get_fraud_cardtype():
    return random.choice(["MasterCard", "Visa"])

In [4]:
# nonfraud 
def get_nonfraud_cardtype():
    return random.choice(["MasterCard", "Visa", "Discover", "JCB", "American Express"])

In [93]:
ml_set['paymentMethod_cardType'] = ml_set.apply(paymentMethod_cardType, axis = 1)

In [94]:
def paymentMethod_cardSubType(row):
    card_subtype = ''
    rnd =  random.randrange(201)
    if  0 < rnd <= 10:
        card_subtype = 'Secured'
    elif 10 < rnd <= 50:
        card_subtype = 'Prepaid '
    elif 51 < rnd <= 100:
        card_subtype = 'Business '
    elif 101 < rnd <= 200:
        card_subtype = 'Student'
    else:
        card_subtype = 'Generic'
    
    return card_subtype

In [95]:
ml_set['paymentMethod_cardSubType'] = ml_set.apply(paymentMethod_cardSubType, axis = 1)

In [98]:
def paymentMethod_encodedPaymentToken(row):
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for i in range(8))

In [99]:
ml_set['paymentMethod_encodedPaymentToken'] = ml_set.apply(paymentMethod_encodedPaymentToken, axis = 1)

In [100]:
ml_set.head(5)

,amount_value,id,amount_currency,channel,deviceDetails_browser,deviceDetails_device,deviceDetails_deviceIp,merchantRefTransactionId,paymentMethod_apmType,paymentMethod_cardNumber,paymentMethod_cardType,paymentMethod_cardSubType,paymentMethod_cvv,paymentMethod_encodedPaymentToken
0,85621.45,0,USD,virtual,chrome,pos,225.76.238.186,2534859727,magstripe,6444-9854-4855-9248,Discover,Student,394,uCuKsvrW
1,6885.37,1,USD,online,edge,pos,22.235.47.168,3373234617,magstripe,7374-1462-5965-4580,JCB,Business,480,lVYWecct
2,60146.36,2,USD,virtual,edge,pos,34.50.211.154,4596280497,chip,2366-2404-8271-1630,Discover,Student,263,iXTHSnGH
3,40372.97,3,USD,virtual,edge,mobile,35.47.40.5,7486781647,magstripe,1528-9270-7336-2735,Visa,Business,469,nFnmjYWb
4,43803.75,4,USD,virtual,chrome,pos,247.164.216.72,8375107852,nfcc,8977-0947-5649-8057,Visa,Student,162,gMcMMAuC

In [101]:
from random import randrange

def paymentMethod_expiryMonth(row):
    return randrange(12)

In [102]:
ml_set['paymentMethod_expiryMonth'] = ml_set.apply(paymentMethod_expiryMonth, axis = 1)

In [103]:
from random import randrange

def paymentMethod_expiryYear(row):
    start_year = randrange(2018,2020)
    return randrange(start_year, start_year + 10)

In [104]:
ml_set['paymentMethod_expiryYear'] = ml_set.apply(paymentMethod_expiryYear, axis = 1)

In [ ]:
def get_year():
    return random.choice([2020, 2019])

In [ ]:
def get_fraund_month():
    return random.choice([7, 8, 11, 12])

In [ ]:
def get_nonfraund_month():
    return random.randint(1, 12)

In [ ]:
def get_day():
    return random.randint(1, 31)

In [ ]:
def get_fraund_time():
    hour = random.randint(1, 4)
    mn = random.randint(0, 60)
    s = random.randint(0, 60)
    return f"{hour}:{mn}:{s}"

In [ ]:
def get_nonfraund_time():
    hour = random.randint(0, 23)
    mn = random.randint(0, 60)
    s = random.randint(0, 60)
    return f"{hour}:{mn}:{s}"

In [105]:
from datetime import datetime
from datetime import timedelta


def get_fraud_transaction_time(row):
    start_date = datetime.strptime('1/1/2019 1:30 PM', '%m/%d/%Y %I:%M %p')
    end_date = datetime.strptime('12/1/2020 1:30 PM', '%m/%d/%Y %I:%M %p')
    delta = end_date - start_date
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start_date + timedelta(seconds=random_second)

In [106]:
ml_set['transaction_time'] = ml_set.apply(get_transaction_time, axis = 1)

In [107]:
ml_set['transaction_time']

0      2020-09-05 23:30:39
1      2020-08-04 07:08:00
2      2020-08-02 18:52:19
3      2020-06-24 18:42:29
4      2020-03-19 18:53:16
5      2020-06-28 18:50:40
6      2020-03-29 08:23:50
7      2020-04-05 17:36:24
8      2020-03-12 14:03:59
9      2020-03-05 09:18:53
10     2020-04-30 10:58:41
11     2020-01-07 14:57:15
12     2020-03-08 19:34:13
13     2020-02-07 04:40:01
14     2020-05-02 05:53:13
15     2020-06-08 23:14:11
16     2020-03-17 13:54:58
17     2020-02-20 18:03:31
18     2020-01-04 07:07:53
19     2020-04-01 21:50:05
20     2020-09-17 10:45:14
21     2020-06-28 18:47:17
22     2020-05-29 20:49:17
23     2020-07-26 13:26:17
24     2020-02-17 18:46:12
25     2020-01-14 13:41:03
26     2020-04-30 15:31:16
27     2020-03-30 07:55:11
28     2020-10-01 05:54:12
29     2020-02-03 10:07:59
               ...
9970   2020-05-03 15:50:02
9971   2020-03-01 06:32:46
9972   2020-05-02 22:54:47
9973   2020-05-10 19:53:44
9974   2020-03-28 05:54:16
9975   2020-05-24 15:36:23
9976   2020-04-08 23:07:18
9977   2020-08-17 20:33:04
9978   2020-03-04 11:28:31
9979   2020-09-04 05:08:57
9980   2020-09-24 18:55:13
9981   2020-02-19 16:28:53
9982   2020-06-02 17:27:19
9983   2020-01-27 07:47:02
9984   2020-06-03 09:18:53
9985   2020-04-16 03:05:23
9986   2020-01-02 07:52:32
9987   2020-03-19 09:34:58
9988   2020-05-04 04:15:46
9989   2020-05-09 06:17:46
9990   2020-04-03 17:03:18
9991   2020-05-14 18:23:56
9992   2020-04-25 18:16:28
9993   2020-07-03 14:24:11
9994   2020-03-21 20:41:23
9995   2020-01-27 17:27:34
9996   2020-06-10 19:05:02
9997   2020-07-12 08:15:53
9998   2020-04-12 22:12:53
9999   2020-08-27 17:59:06
Name: transaction_time, Length: 10000, dtype: datetime64[ns]

In [108]:
def label_transaction(row):
    return  random.randrange(2)

In [109]:
ml_set['class'] = ml_set.apply(label_transaction, axis = 1)

In [110]:
ml_set['class'].value_counts()

1    5036
0    4964
Name: class, dtype: int64

In [111]:
ml_set.head(5)
len(ml_set)

10000

In [112]:
ml_set.to_csv('test.csv', index=False)